<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter">
    </md-form-field>
  </div>
  <div *ngFor="let row of postsData$ | async">
    {{row}}
  </div>
  <!-- <md-table #table *ngFor="let row of postsData$ | async" mdSort>

    <ng-container *ngFor="let col of displayColumns" mdColumnDef="col.name">
      <md-header-cell *mdHeaderCellDef>{{col.name}} </md-header-cell>
      <md-cell > {{row[col.key]}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row></md-row>
  </md-table> -->
  <!-- <md-paginator #paginator
    [length]="postsData$.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator> -->

</div>
