<md-sidenav-container fullscreen>
  <md-toolbar color="primary">
      <a (click)="sidenav.open()" href="javascript:;">
          <i class="material-icons app-toolbar-menu">menu</i>
      </a>
      <span class="app-toolbar-filler"></span>
    
  </md-toolbar>
  <md-sidenav #sidenav opened="this.isMenuOpen$" class="menu-sidenav">
      Jolly good!
    </md-sidenav>
  <div>
      <div class="mainContent">
          <router-outlet></router-outlet>
      </div>  
      
    </div>

</md-sidenav-container>
